.rbc-toolbar button {
  background-color: #f8f9fa;
  border-color: #8dc53f;
  color: #8dc53f;
  border: 0.5 solid;
}

.rbc-toolbar button:hover {
  background-color: rgb(241, 240, 240);
  border-color: #8dc53f;
  color: #8dc53f;
  border: 0.5 solid;
}

.rbc-toolbar button:focus {
  background-color: #8dc53f;
  border-color: #4d9a0f;
  color: white;
  border: 0.5 solid;
}

.rbc-toolbar button:active {
  background-color: #8dc53f !important;
  border-color: #4d9a0f !important;
  color: white !important;
  border: 0.5 solid !important;
}

button.rbc-active {
  background-color: #8dc53f !important;
  border-color: #4d9a0f !important;
  color: white !important;
  border: 0.5 solid !important;
}

.rbc-toolbar-label {
  color: #2e465d;
  font-weight: 600;
}

.rbc-event {
  background-color: #8dc53f !important;
  border-color: #4d9a0f !important;
  border: 0.5 solid;
}

.rbc-event.rbc-selected:focus {
  outline-color: white;
  outline-offset: -2px;
}
.rbc-event:active {
  outline-color: white;
  outline-offset: -2px;
}

.rbc-selected {
  background-color: #8dc53f;
}

.rbc-date-cell a {
  color: #2e465d;
}

.rbc-off-range a {
  color: #696969;
}
.rbc-day-bg.rbc-today {
  background-color: #2e465d;
}

.rbc-date-cell.rbc-now.rbc-current a {
  color: white !important;
}

.rbc-header {
  background-color: #2e465d;
  color: white;
}
